.buyut {
    height: 1500px;
    width: 1500px;
    border: 2px solid black;
}

.parent {
    background-color: rgba(0, 0, 0, 0.742);
    display: flex;
    height: 55px;
    padding: 10px;
    margin: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.child1 {
    background-color: rgb(255, 255, 255);
    height: 45px;
    width: 150px;
    text-align: center;
    line-height: 45px;
    margin: 20px;
}
.child2 {
    background-color: #ffffff;
    height: 45px;
    width: 150px;
    text-align: center;
    line-height: 45px;
    margin: 20px;
}
.child3 {
    background-color: rgb(255, 255, 255);
    height: 45px;
    width: 150px;
    text-align: center;
    line-height: 45px;
    margin: 20px;
}

.parent2 {
    height:450px;
    width: 200px;
    background-color: rgb(185, 184, 184);
    display: flex;
    flex-direction: column;
    margin: px;
    align-items: center;
}

.child4 {
    background-color: rgb(0, 0, 0);
    height: 45px;
    width: 200px;
    text-align: center;
    line-height: 45px;
    margin: 0px;
    color: white;
}
.child5 {
    background-color: #ffffff;
    height: 45px;
    width: 150px;
    text-align: center;
    line-height: 45px;
    margin: 10px;
}
.child6 {
    background-color: rgb(255, 255, 255);
    height: 45px;
    width: 150px;
    text-align: center;
    line-height: 45px;
    margin: 10px;
}
.kakek {
    width: 1480px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
}

.parent3 {
    background-color: rgb(129, 129, 129);
    height: 300px;
    width: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child7 {
    background-color: rgb(94, 94, 94);
    height: 75px;
    width: 1250px;
    align-items: center;
}

.child8 {
    background-color: rgb(255, 255, 255);
    height: 75px;
    width: 1200px;
    margin: 20px;
}

.parent4 {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.child9 {
    background-color: rgb(255, 255, 255);
    height: 75px;
    width: 573px;
    margin-right: 25px;
}

.child10 {
    background-color: rgb(246, 246, 246);
    height: 75px;
    width: 573px;
    margin-left: 25px;
}

.parent5 {
    background-color: rgb(0, 0, 0);
    height: 230px;
    width: 1230px;
    padding: 10px;
}

.kakek2 {
    border: 2px solid black;
    width: 1250px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.child11 {
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 1220px;
}

.parent6 {
    display: flex;
    justify-content: space-between;
}

.child12 {
    background-color: azure;
    width: 300px;
    height: 100px;
    margin: 20px;
}

.child13 {
    background-color: azure;
    width: 300px;
    height: 100px;
    margin: 20px;
}

.child14 {
    background-color: azure;
    width: 300px;
    height: 100px;
    margin: 20px;
}
